@keyframes toTop {

  0% {
    opacity: 0%;
    transform: translateY(10px);
  }

  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

._page_order {
  padding-top: 60px;
  width: 100vw;
}

._page_order main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}

._page_order ._header_order {
  align-items: center;
  background-color: var(--contrast-color-1);
  border-radius: 0.5em;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

._page_order ._header_order h1 {
  display: flex;
  gap: 10px;
}

._page_order.pending :is(._header_order h1, ._price span:last-child) {
  color: var(--status-pending);
}

._page_order.preparing :is(._header_order h1, ._price span:last-child) {
  color: var(--status-preparing);
}

._page_order.road :is(._header_order h1, ._price span:last-child) {
  color: var(--status-road);
}

._page_order.received :is(._header_order h1, ._price span:last-child) {
  color: var(--status-received);
}

._page_order ._seller {
  align-items: flex-end;
  color: rgb(86, 86, 86);
  display: flex;
  gap: 10px;
}

._page_order ._date {
  color: rgb(86, 86, 86);
  font-weight: 800;
}

._page_order ._status {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  display: flex;
  font-weight: 800;
  gap: 10px;
  padding: 10px;
}

._page_order.pending ._status {
  color: var(--status-pending);
}

._page_order.preparing ._status {
  color: var(--status-preparing);
}

._page_order.road ._status {
  color: var(--status-road);
}

._page_order.received ._status {
  color: var(--status-received);
}

._page_order.pending ._header_order button {
  background-color: var(--status-pending);
}

._page_order.preparing ._header_order button {
  background-color: var(--status-preparing);
}

._page_order.road ._header_order button {
  background-color: var(--status-road);
}

._page_order.received ._header_order button {
  background-color: var(--status-received);
}

._page_order ._header_order button {
  border: none;
  border-radius: 0.5em;
  bottom: 20px;
  color: white;
  cursor: pointer;
  font-weight: 800;
  padding: 10px;
  position: fixed;
  right: 20px;
  transition: 0.5s;
}

._page_order ._header_order button:disabled {
  background-color: var(--contrast-color-1);
  cursor: not-allowed;
}

._page_order ._header_order button:first-child {
  background-color: var(--contrast-color-1);
}

._page_order ._header_order button:last-child {
  bottom: 60px;
}

._page_order ._price {
  animation: toTop 1s;
  color: rgb(86, 86, 86);
  display: flex;
  font-size: 1.2em;
  font-weight: 800;
  gap: 10px;
}
